#org-labels-background {
    background-color: #4674a2 !important;
    z-index: 1;
    margin: 0px;
    position: absolute;
}

#focus-labels-background {
    background-color: #919191;
    z-index: 1;
    margin: 0px;
    position: absolute;
}

#data-background {
    background-color: #ffffff;
    z-index: 1;
    margin: 0px;
    position: absolute;
}

.snapshot {
    width: 100%;
}

.heading-div {
    z-index: 2;
    position: absolute;
    margin: 0px;
    vertical-align: middle;
}

.heading-label {
    z-index: 2;
    position: absolute;
    margin: 0px;
    vertical-align: middle;
}

.hover-box {
    z-index: 3;
    position: absolute;
    margin: 0px;
    border-style: groove;
    border-width: medium;
    border-color: #000000;
    background-color: #ffffff;
    font-family: Arial;
    font-size: small;
    line-height: normal;
    visibility: hidden;
    padding: 0px;
}

.tooltip-left {
    border: solid;
    border-width: thin;
    padding: 1%;
    float: left;
    margin: 0%;
    margin-right: 3%;
}

.toolTipHeader {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding: 0px;
    border:0px;
    border-bottom: 5px;
    border-color: #000000;
    background-color: #dddddd;
    position: absolute;
}

.toolTipCell {
    padding: 2px;
    border: thin;
}