body{
  font-family: 'Roboto', sans-serif;
}

#org-labels-background {
    background-color: #4674a2 !important;
    z-index: 1;
    margin: 0px;
    position: absolute;
}

#focus-labels-background {
    background-color: #919191;
    z-index: 1;
    margin: 0px;
    position: absolute;
}

#data-background {
    background-color: #ffffff;
    z-index: 1;
    margin: 0px;
    position: absolute;
}

.snapshot {
    width: 100%;
}

.heading-div {
    z-index: 2;
    position: absolute;
    margin: 0px;
    vertical-align: middle;
}

.heading-label {
    z-index: 2;
    position: absolute;
    margin: 0px;
    vertical-align: middle;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ffffff;
    margin: 0px;
    font-size: 14px;
    font-weight: 600;
}

.hover-box, .hover-box-light {
    z-index: 3;
    position: absolute;
    margin: 0px;
    border-style: groove;
    border-width: medium;
    border-color: #000000;
    background-color: #ffffff;
    font-family: Arial;
    font-size: small;
    line-height: normal;
    visibility: hidden;
    padding: 0px;
}

.hover-box-light {
    border-width: thin;
}

.tooltip-logo {
    border: none;
    padding: 1%;
    float: left;
    margin: 0%;
    margin-right: 3%;
}

.toolTipHeader {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding: 0px;
    border:0px;
    border-bottom: 5px;
    border-color: #000000;
    background-color: #dddddd;
    position: absolute;
}

.toolTipCell {
    padding: 2px;
    border: thin;
}


#orgTypes{
  width:200px;
  height:600px;
  float:left;
  margin-left:16px;
}

#orgTypes .orgType{
  width:184px;
  float:left;
  height:60px;
  margin:16px 16px 0 0;  
  background-color:#ccc;
  text-align:center; 
  display:table;
  width:100%;
}

#orgTypes .orgType h1{
  font-size:1.4em;
  height:60px;
  display:table-cell; 
  vertical-align:middle;
}


#orgTypes .orgType h2{
  font-size:.9em;
  display:none;
  text-align:center;
}

#orgTypeDetails{
  width:50%;
  height:60px;
  float:left;
  margin:16px;
  padding:16px;
  font-size:24px;
  text-align:center;
}

#orgs{
  width:50%;
  height:500px;
  float:left;
  margin:16px;
  padding:16px;
}

#ecosystem{
    width: 100%;
  clear:both;
}

.org{
  display:none;
}

.eco{
  display:block;
}


/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../img/Preloader_8.gif) center no-repeat #fff;
}

#nav {
  list-style: none;
  margin: 0;
  padding: 0;
  width:100%;
  display:block;
}


#nav .navItem{
  float:left;
  padding:8px 8px;
  margin:1px 0px 1px 1px;
  min-width:100px;
  text-align: center;
    align-content: center;
}


.navItem { background-color: #ccc; }
.navItem:hover, .navItem.navOn { background-color: #666; color: #FFF}


.logo{
  max-width: 100px;
}

  .ui-tooltip, .arrow:after {
    background: white;
    border: 2px solid black;
  }
  .ui-tooltip {
    padding: 10px 20px;
    color: black;
    border-radius: 20px;
    font: bold 14px "Helvetica Neue", Sans-Serif;
/*     text-transform: uppercase; */
    box-shadow: 0 0 7px black;
  }
  .arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
  }
  .arrow.top {
    top: -16px;
    bottom: auto;
  }
  .arrow.left {
    left: 20%;
  }
  .arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .arrow.top:after {
    bottom: -20px;
    top: auto;
  }


